{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'update_subject' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-12">
                        <h5 class="form-title"><span>Edit Subject</span></h5>
                    </div>

                    {% include 'includes/messages.html' %}
                    <div class="col-sm-11">
                        <label>Subject Name</label>
                        <input type="text" name="subject_name" id="" class="form-control" value="{{subject.name}}" required>
                    </div> <br>
                    <div class="col-sm-11">
                        <label>Department</label>
                        <select class="form-control" id="" name="department_id" required>
                            {% for i in department %}
                            <option value="{{i.id}}">{{i.name}}</option>
                            {% endfor %}
                        </select>
                        <input type="tel" class="form-control" name="subject_id" value="{{subject.id}}" hidden>
                    </div> <br>
                    <div class="col-sm-11">
                        <div class="form-group">
                            <label>Teacher</label>
                            <select class="form-control" id="" name="teacher_id" required>
                                {% for i in teacher %}
                                <option value="{{i.id}}">{{i.admin.username}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-11">
                        <div class="form-group">
                            <label>Session Year</label>
                            <select class="form-control" id="" name="session_year_id" required>
                                {% for i in sessionYear %}
                                <option value="{{i.id}}">{{i.sessionYear}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Add Subject</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}